/* base */
@import url('./base/reset.css');
@import url('./base/variables.css');
@import url('./base/base.css');

/* blocks */
@import url('./blocks/button.css');
@import url('./blocks/footer.css');
@import url('./blocks/header.css');
@import url('./blocks/home.css');
