<header class="header">
  <div class="container header__container">
    <a href="#" class="header__logo">LOGO</a>

    <nav class="header__nav nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="/bonuses.html">
            <svg class="icon" aria-hidden="true" width="24" height="24">
              <use href="/img/icons/Gift.svg"></use>
            </svg>
            Bonuses</a
          >
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">
            <svg class="icon" aria-hidden="true" width="24" height="24">
              <use href="/img/icons/iPhone.svg"></use>
            </svg>
            App</a
          >
        </li>
        <li class="nav__item"><a class="nav__link" href="#">Live</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Sports</a></li>
        <li class="nav__item"><a class="nav__link" href="#">More</a></li>
      </ul>
    </nav>

    <div class="header__actions">
      <button class="button button--outline">Log in</button>
      <button class="button button--primary">Sign up</button>
    </div>
  </div>
</header>

<!-- <div class="header__container">
  <a href="index.html" class="header__logo">LOGO</a>

  <nav class="header__nav nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a class="nav__link" href="bonuses.html">
          <svg class="icon" aria-hidden="true" width="24" height="24">
            <use href="/img/icons/Gift.svg"></use>
          </svg>
          Bonuses
        </a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#">
          <svg class="icon" aria-hidden="true" width="24" height="24">
            <use href="/img/icons/iPhone.svg"></use>
          </svg>
          App
        </a>
      </li>
      <li class="nav__item"><a class="nav__link" href="#">Live</a></li>
      <li class="nav__item"><a class="nav__link" href="#">Sports</a></li>
      <li class="nav__item"><a class="nav__link" href="#">More</a></li>
    </ul>
  </nav>

  <div class="header__actions">
    <button class="button button--outline">Log in</button>
    <button class="button button--primary">Sign up</button>
  </div>
</div> -->
