/* ===== GLOBAL ===== */
html {
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: 700;
  color: var(--color-bg-header);
  line-height: 1.2;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  font-weight: 600;
}

body {
  background: var(--color-logo-bg);
  background-image: url('../../img/icons/Vector.png');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;

  background-size:
    900px 1000px,
    1000px 1000px,
    cover;
  font-family:
    'Poppins',
    system-ui,
    -apple-system,
    sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  transition: opacity 0.3s ease;
  opacity: 1;
}

body.fade-out {
  opacity: 0;
}

body.menu-open {
  overflow: hidden;
}

/* ===== LAYOUT ===== */

.container {
  display: flex;
  gap: 20px;
  max-width: 80%;
  margin: 0 auto;
  padding: 0 16px;
}

.container__section {
  padding: 25px 24px;
  border-radius: 6px;
  background-color: var(--color-white);
}

.main {
  padding: 20px 0;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .container {
    width: 95%;
  }
}
@media (max-width: 1024px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }
}
