/* ===== GLOBAL ===== */
html {
  font-size: 16px;
}

body {
  background: var(--color-logo-bg);
  background-image: url('../../img/icons/Vector.png');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;

  background-size:
    900px 1000px,
    1000px 1000px,
    cover;
  /* background-image:
    url('../../img/icons/Vector.png'), url('../../img/icons/Vector.png'),
    url('../../img/icons/Vector.png');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position:
    top left,
    center,
    bottom right;
  background-size:
    900px 1000px,
    1000px 1000px,
    cover; */
  font-family:
    'Poppins',
    system-ui,
    -apple-system,
    sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  transition: opacity 0.3s ease;
  opacity: 1;
}
/* body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 83, 123, 0.2); 
  pointer-events: none;
} */

body.fade-out {
  opacity: 0;
}

body.menu-open {
  overflow: hidden;
}

/* ===== LAYOUT ===== */

.container {
  display: flex;
  gap: 20px;
  max-width: 80%;
  margin: 0 auto;
  padding: 0 16px;
}
.container__section {
  padding: 25px 24px;
  border-radius: 6px;
  background-color: var(--color-white);
}

.main {
  padding: 20px 0;
  margin: 0 auto;
}
