:root {
  /* --color-text-main: #FCFCFC;  додати чорний для тексту*/
  --color-white: #ffffff;
  --color-black: #000000;
  --color-text-secondary: #fcfcfc;
  --color-orange: #ec622b;
  --color-dark-orange: #c75528;
  --color-dark-green: #0d900d;
  --color-blue: #80bef8;
  --color-grey: #7c7c7c;
  --color-light-grey: #dfe8f6;
  --color-green: #0fa810;
  --color-primary: #4f46e5;
  --color-bg-header: #192a32;
  --color-logo-bg: #141e55;
  --color-background: #f9fafb;
  --color-btn-bg: #1a3769;
  --color-btn: #fcfcfc;
  --color-card-bg: #f6f6f6;
  --color-btn-hover: #1a3769b5; /*additional color*/
  --color-shadow: #0a626a26;
  --color-border: rgba(119, 119, 119, 0.5);
}
