.button {
  font-family:
    'Poppins',
    system-ui,
    -apple-system,
    sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 32px;
  border-radius: 16px;
  text-transform: uppercase;
  cursor: pointer;
  max-height: 48px;
  border: none;
  letter-spacing: -0.01em;
  min-width: 130px;
}

.button--sports {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 4px 16px 4px 4px;
  border-radius: 30px;
  background: var(--color-orange);
  color: var(--color-text-secondary);
}
.button--sports:hover {
  background: var(--color-dark-orange);
}

.button--primary {
  background: var(--color-orange);
  color: var(--color-text-secondary);
}
.button--primary:hover {
  background: var(--color-dark-orange);
}
.button--secondary {
  background: var(--color-green);
  color: var(--color-text-secondary);
}
.button--secondary:hover {
  background: var(--color-dark-green);
}

.button--outline {
  border: 1px solid var(--color-white);
  color: var(--color-white);
  width: 214px;
}
