.footer {
  background: var(--color-white);
  padding: 35px 20px;
  color: var(--color-bg-header);
  border-radius: 6px;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.footer__text {
  font-size: 16px;
  font-weight: 400;
  width: 90%;
}

.footer__icon {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  font-size: 32px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-bg-header);
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

/* ================= RESPONSIVE ================= */
@media (min-width: 1024px) {
  .footer__content {
    flex-direction: unset;
  }
}
